footer{
  background-image: url("../../img/runners.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer{
  padding: 270px 0;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.footer__info{
  width: 45%; 
}

.footer__title{
  font-size: 50px;
}

.footer__text{
  margin-top: 78px;
  padding-left: 30px;
  line-height: 30px;
  border-left: 3px solid white;
  font-weight: 600;
  letter-spacing: .5px;
}

@media (max-width:1000px) {
  .footer{
    padding: 200px 0;
    display: flex;
    justify-content: center;
  }

  .footer__info{
    width: 100%; 
  }
}