.info{
  padding-top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__list{
  margin: 0px;
  padding: 0px;
  list-style-type:none;
  display:flex;
  justify-content: space-between;
}

.info__item{
  width: 29%;
}

.info__title{
  font-size: 20px;
  font-weight: 600;
}

.info__text{
  margin-top: 50px;
  line-height: 32px;
  letter-spacing: .6px;
  margin-bottom: 15px;
}

.info__slider{
  width: 50px;
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.slider{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.slider:hover{
  background-color: black;
}

.info__link{
  text-decoration: none;
  color: #ff0000c0;
  font-size: 18px; 
  text-transform: uppercase;
  font-weight: 700;
}