.nav-bar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}

.nav__logo-link {
  display: inline-block;
  text-decoration: none;
}

.nav__logo{
  display: block;
}

.nav__list{
  display:flex;
  list-style-type:none;
  margin-right: 50px;
  transition: all 1s ease;
}

.nav__item{
  transition: 1s;
  margin-right: 50px;
}

.nav__item:hover{
  transform: scale(1.1);
}

.nav__link{
  text-decoration: none;
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav__link:hover{
  color: #000;
}

.nav__item-input{
  position: relative;
}

.nav__search{
  width: 160px;
  padding: 3px;
  color: gray;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: .8px;
  transition: all 1s ease;
}

.nav__search:hover{
  box-shadow: inset 0px -1px 0px #666666;
}

.nav__search:focus{
  box-shadow: inset 0px -1px 0px #666666;
}

.nav__search:hover::placeholder{
  color: #666666;
}

.nav__icon{
  opacity: 0;
  position: absolute;
  color: #666666;
  top: 2px;
  right: 3px;
  cursor: pointer;
}

.nav__search::placeholder{
  color: gray;
  font-size: 14px;
}

.nav__search:focus::placeholder {
  opacity: 0; 
  transition: 0.5s ease;
}

.nav__search:focus ~ .nav__icon{
  opacity: 1;
  transition: opacity .5s ease;
}

.nav__hamburger{
  display: none;
}

.nav__hamburger-menu{
  position: relative;
  display: none;
  z-index: 2;
}

.nav__hamburger-menu:active{
  opacity: .7;
}

.nav__hamburger-top{
  width: 20px;
  height: 3px;
  background-color: black;
  border-radius: 50px;
  position: relative;
}
.nav__hamburger-middle{
  margin: 4px 0;
  width: 20px;
  height: 3px;
  background-color: black;
  border-radius: 50px;
}
.nav__hamburger-bottom{
  margin: 4px 0;
  width: 20px;
  height: 3px;
  background-color: black;
  border-radius: 50px;
}


@media (max-width:700px) {
  .nav-bar {
    padding-top: 0px;
    position: relative;
    z-index: 10;
    background-color: white;
  }

  header{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .nav__list{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 50px;
    padding-top: 80px;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0px;
    right: -110%;
    z-index: 1;
  }

  .nav__item{
    margin-right: 15px;
    margin-bottom: 30px;
  }

  .nav__link{
    font-size: 20px;
  }
  
  .nav__search{
    width: 250px;
    padding-left: 0;
    font-size: 20px;
  }

  .nav__icon{
    left: 230px;
    top: 6px;
  }
  
  .nav__search::placeholder{
    font-size: 20px;
  }

  .nav__hamburger-menu{
    display: block;
  }

  #hamburger:checked ~ .nav__list{
    margin-right: 80%;
  }

  .nav__hamburger-top{
    transition: all 1s ease;
  }
  .nav__hamburger-middle{
    transition: all 1s ease;
  }
  .nav__hamburger-bottom{
    transition: all 1s ease;
  }
  
  .hamburger_outer{
    position: relative;
  }

  #hamburger:checked ~ .nav__hamburger-menu .nav__hamburger-top{
    transform: rotate(405deg);
  }

  #hamburger:checked ~ .nav__hamburger-menu .nav__hamburger-middle{
    transform: rotate(315deg);
    position: absolute;
    top: -4px;
    right: 0;
  }

  #hamburger:checked ~ .nav__hamburger-menu .nav__hamburger-bottom{
    transform: rotate(315deg);
    position: absolute;
    top: -4px;
    right: 0;
  }
}
