.site-hero {
  padding-top: 180px;
}

#site-hero__section {
  height: 830px;
  background-image: url("../../img/watches.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 30px right -340px;

}

.hero__title {
  font-size: 50px;
  font-weight: 700;
}

.hero__text {
  margin-top: 70px;
  padding-left: 40px;
  width: 530px;
  line-height: 26px;
  letter-spacing: .3px;
  border-left: 3px solid #a0a0a0;
}
